<section class="section section__favorites">
  <div class="container container__favorites">
    <h2 class="section-title favorites__title">Some of Our Favorites</h2>
    <p class="favorites__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/gamburger-desk@1x.webp 1x,
              ./images/favorites/gamburger-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/gamburger-desk@1x.jpg 1x,
              ./images/favorites/gamburger-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/gamburger-tablet@1x.webp 1x,
              ./images/favorites/gamburger-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/gamburger-tablet@1x.jpg 1x,
              ./images/favorites/gamburger-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/gamburger-mobile@1x.webp 1x,
              ./images/favorites/gamburger-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/gamburger-mobile@1x.jpg 1x,
              ./images/favorites/gamburger-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/favorites/gamburger-mobile@1x.jpg"
            alt="gamburger"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/Pasta-desk@1x.webp 1x,
              ./images/favorites/Pasta-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/Pasta-desk@1x.jpg 1x,
              ./images/favorites/Pasta-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/Pasta-tablet@1x.webp 1x,
              ./images/favorites/Pasta-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/Pasta-tablet@1x.jpg 1x,
              ./images/favorites/Pasta-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/Pasta-mobile@1x.webp 1x,
              ./images/favorites/Pasta-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/Pasta-mobile@1x.jpg 1x,
              ./images/favorites/Pasta-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/favorites/Pasta-mobile@1x.jpg"
            alt="Pasta"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/favorites/pizza-desk@1x.webp 1x,
              ./images/favorites/pizza-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/pizza-desk@1x.jpg 1x,
              ./images/favorites/pizza-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/pizza-tablet@1x.webp 1x,
              ./images/favorites/pizza-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/pizza-tablet@1x.jpg 1x,
              ./images/favorites/pizza-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/pizza-mobile@1x.webp 1x,
              ./images/favorites/pizza-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/pizza-mobile@1x.jpg 1x,
              ./images/favorites/pizza-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/favorites/pizza-mobile@1x.jpg"
            alt="pizza"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <picture>
          <source
            srcset="
              ./images/favorites/chicken-desk@1x.webp 1x,
              ./images/favorites/chicken-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/chicken-desk@1x.jpg 1x,
              ./images/favorites/chicken-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/chicken-tablet@1x.webp 1x,
              ./images/favorites/chicken-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/chicken-tablet@1x.jpg 1x,
              ./images/favorites/chicken-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/favorites/chicken-tablet@1x.jpg"
            alt="chicken"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <picture>
          <source
            srcset="
              ./images/favorites/salat-desk@1x.webp 1x,
              ./images/favorites/salat-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/salat-desk@1x.jpg 1x,
              ./images/favorites/salat-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/salat-tablet@1x.webp 1x,
              ./images/favorites/salat-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/salat-tablet@1x.jpg 1x,
              ./images/favorites/salat-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/favorites/salat-tablet@1x.jpg"
            alt="salat"
            class="favorites__img"
          />
        </picture>
      </li>
      <li class="favorites__item favorites__item--mobile">
        <picture>
          <source
            srcset="
              ./images/favorites/borshch-desk@1x.webp 1x,
              ./images/favorites/borshch-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/borshch-desk@1x.jpg 1x,
              ./images/favorites/borshch-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/borshch-tablet@1x.webp 1x,
              ./images/favorites/borshch-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/favorites/borshch-tablet@1x.jpg 1x,
              ./images/favorites/borshch-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/favorites/borshch-tablet@1x.jpg"
            alt="borshch"
            class="favorites__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
