<footer class="footer footer__overlay">
  <div class="container">
    <div class="footer-figuration">
      <div class="footer-nav">
        <a class="link footer__logo" href="./index.html">
          <svg class="logo-icon" width="66" height="52">
            <use href="/src/images/sprite-icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="site-nav list">
          <li class="item site-nav__item">
            <a class="link site-nav__link" href="./index.html">Home</a>
          </li>
          <li class="item site-nav__item">
            <a class="link site-nav__link" href="">About</a>
          </li>
          <li class="item site-nav__item">
            <a class="link site-nav__link" href="">Service</a>
          </li>
          <li class="item site-nav__item">
            <a class="link site-nav__link" href="">Menu</a>
          </li>
          <li class="item site-nav__item">
            <a class="link site-nav__link" href="">Contact</a>
          </li>
        </ul>
      </div>
      <div class="subscribe">
        <form class="form-subscribe">
          <div class="form-subscribe__name">
            <label for="footer-subscribe" class="form-subscribe__label"
              >Subscribe</label
            >
            <input
              id="footer-subscribe"
              type="email"
              name="email"
              class="form-subscribe__fild"
              placeholder="Enter your email"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
          </div>

          <button class="button footer__button" type="submit">Subscribe</button>
        </form>

        <p class="subscribe__privacy">
          By subscribing you agree to with our
          <a class="link footer-inform__link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>

    <div class="footer-inform">
      <ul class="footer-inform__list">
        <li class="item footer-inform__item">
          <a class="link footer-inform__link" href="">Privacy Policy</a>
        </li>
        <li class="item footer-inform__item">
          <a class="link footer-inform__link" href="">Terms of Service</a>
        </li>
        <li class="item footer-inform__item">
          <a class="link footer-inform__link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-inform__copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
