<header class="header">
  <div class="container">
    <div class="header__position">
      <a class="link header__logo" href="./index.html">
        <svg class="logo-icon" width="66" height="52">
          <use href="/src/images/sprite-icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu__button open" type="button">
        <svg class="mobile-menu__icon" width="28px" height="28px">
          <use
            class="mobile-menu-burger"
            href="/src/images/sprite-icons.svg#icon-burger_menu"
          ></use>
        </svg>
      </button>

      <div class="menu">
        <nav class="site-nav">
          <ul class="site-nav list">
            <li class="item site-nav__item">
              <a class="link site-nav__link--current" href="./index.html"
                >Home</a
              >
            </li>
            <li class="item site-nav__item">
              <a class="link site-nav__link" href="">About</a>
            </li>
            <li class="item site-nav__item">
              <a class="link site-nav__link" href="">Service</a>
            </li>
            <li class="item site-nav__item">
              <a class="link site-nav__link" href="">Menu</a>
            </li>
            <li class="item site-nav__item">
              <a class="link site-nav__link" href="">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="button header__button" type="button">Order Now</button>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <button class="mobile-menu__button close" type="button">
      <svg class="mobile-menu__icon" width="24px" height="24px">
        <use
          class="mobile-menu-close"
          href="/src/images/sprite-icons.svg#icon-close"
        ></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav__list list">
      <li class="item mobile-menu-nav__item">
        <a class="link mobile-menu-nav__link" href="./index.html">Home</a>
      </li>
      <li class="item mobile-menu-nav__item">
        <a class="link mobile-menu-nav__link" href="">About</a>
      </li>
      <li class="item mobile-menu-nav__item">
        <a class="link mobile-menu-nav__link" href="">Service</a>
      </li>
      <li class="item mobile-menu-nav__item">
        <a class="link mobile-menu-nav__link" href="">Menu</a>
      </li>
      <li class="item mobile-menu-nav__item">
        <a class="link mobile-menu-nav__link" href="">Contact</a>
      </li>
    </ul>
  </div>
</header>
