<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <button class="hero__button" type="button" data-modal-open>
      Order Now
    </button>

    <div class="hero-picture">
      <div class="slider">
        <div class="hero-picture__wrap">
          <picture>
            <!--Descktop screen Дискриптор W-->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images\hero\hero-meatballs-desk@1x.webp 1x,
                ./images\hero\hero-meatballs-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images\hero\hero-meatballs-desk@1x.png 1x,
                ./images\hero\hero-meatballs-desk@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />
            <!--Descktop tablet-->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-meatballs-tablet@1x.webp 1x,
                ./images\hero\hero-meatballs-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-meatballs-tablet@1x.png 1x,
                ./images\hero\hero-meatballs-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!--Fallback-->
            <img
              class="hero-picture__img"
              src="./images/hero/hero-meatballs-tablet@1x.png"
              alt="meatballs"
            />
          </picture>
        </div>
        <div>
          <picture>
            <!--Descktop screen Дискриптор W-->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images\hero\hero-salat-desk@1x.webp 1x,
                ./images\hero\hero-salat-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images\hero\hero-salat-desk@1x.png 1x,
                ./images\hero\hero-salat-desk@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />
            <!--Descktop tablet-->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-salat-tablet@1x.webp 1x,
                ./images\hero\hero-salat-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-salat-tablet@1x.png 1x,
                ./images\hero\hero-salat-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!--Fallback-->
            <img
              class="hero-picture__img"
              src="./images/hero/hero-salat-tablet@1x.png"
              alt="salat"
            />
          </picture>
        </div>
        <div>
          <picture>
            <!--Descktop screen Дискриптор W-->
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images\hero\hero-avocado-desk@1x.webp 1x,
                ./images\hero\hero-avocado-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images\hero\hero-avocado-desk@1x.png 1x,
                ./images\hero\hero-avocado-desk@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1280px)"
            />
            <!--Descktop tablet-->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-avocado-tablet@1x.webp 1x,
                ./images\hero\hero-avocado-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images\hero\hero-avocado-tablet@1x.png 1x,
                ./images\hero\hero-avocado-tablet@2x.png 2x
              "
              type="image/png"
            />
            <!--Fallback-->
            <img
              class="hero-picture__img"
              src="./images/hero/hero-avocado-tablet@1x.png"
              alt="avocado"
            />
          </picture>
        </div>
      </div>

      <div class="slider__aroow-left">
      <button type="button" class="hero__button-left slider__button-left">
          <svg class="hero__icon-left">
            <use href="./images/sprite-icons.svg#arrow-left"></use>
          </svg>
        </button>
      </div>
        <div class="slider__aroow-right">
        <button type="button" class="hero__button-right slider__button-right">
          <svg class="hero__icon-right">
            <use href="./images/sprite-icons.svg#arrow-right"></use>
          </svg>
        </button>
        </div>
      
    </div>
      </div>
    </div>
  </div>
</section>
