<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal-btn" data-modal-close>
      <svg class="modal-btn__icon" width="32" height="32">
        <use href="./images/sprite-icons.svg#icon-close"></use>
      </svg>
    </button>

    <form class="form" name="modal-form">
      <strong class="form__title">Order Form</strong>
    
    <div class="form-group">
            <label class="form-wrap">
              <span class="form__label">Name</span>
              <span class="form__text">
                <input class="form__input"
                type="text"
                 name="username"
                 autofocus
                id="name"
                required
                minlength="3"
                maxlength="25"
                title="The name must be between 3 and 25 characters"
                placeholder="Your name"
                autocomplete="off" />
            
                <label class="form-wrap">
              <span class="form__label">Phone number</span>
              <span class="form__text">
                <input class="form__input"
                type="tel"
                name="user-phone"
                id="phone"
                required
                minlength="10"
                placeholder="+38(0_ _) _ _ _ _ _ _ _"
                title=" This phone must be in the format  099 000 00 00"
                autocomplete="off" />
            
            <label class="form-wrap">
              <span class="form__label">E-mail</span>
              <span class="form__text">
                <input class="form__input"
                type="email" 
                name="email"
                id="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
          placeholder="example@gmail.com"
          title="Please enter a valid email address"
          autocomplete="off" />
              </span>
              </label>
            <button class="btn-subm" type="submit">Send</button>
        </form>
  </div>
</div>
