.section__offerings {
  padding-top: 50px;
  padding-bottom: 60px;
  background-size: cover;
  background-image: url('../images/offerings/Rectangle694-mobile@1x.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/offerings/Rectangle694-mobile@2x.png');
  }

  @media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url('../images/offerings/Rectangle718-tablet@1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/Rectangle718-tablet@2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 177px;
    padding-bottom: 43px;
    background-image: url('../images/offerings/Rectangle694-desk@1x.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/offerings/Rectangle694-desk@2x.png');
    }
  }
}

.container__offerings {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.offerings__img {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.offerings__text {
  @media screen and (min-width: 1280px) {
    margin-left: 90px;
  }
}

.section-title {
  margin-bottom: 20px;

  font-family: inherit;
  font-size: 28px;
  line-height: 1.18;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.19;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 1.2;
  }
}

.offerings__title {
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 768px) {
    max-width: 526px;
  }
}

.offerings__description {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    max-width: 526px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    font-size: 15px;
    line-height: 1.5;
  }
}

.offerings__description--size {
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    max-width: 252px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.4;
  }
}

.offerings__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.offerings__item::before {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.offerings__item--rocket::before {
  background-image: url('../images/offerings/rocket.svg');
}

.offerings__item--touch::before {
  background-image: url('../images/offerings/touch.svg');
}

.offerings__subtitle {
  position: relative;
  padding-top: 8px;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.17;
}

.offerings__button {
  margin-right: 24px;
  padding: 10px 20px;

  font-size: 13px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  outline: transparent;
  border-radius: 30px;
  transition: var(--transition-time-func);
  cursor: pointer;
  border: 2px solid #7eb101;

  &:hover,
  &:focus {
    outline: transparent;
    border: 2px solid #597d00;
  }
}

.offerings__link {
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-text-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.offerings__link_text {
  margin-right: 8px;
}
